<!DOCTYPE html>
<html>
<body>
  <script src="jquery-3.3.1.js"></script>
  <form action="/people" method="get">
    <input type="button" value="button" id="button"></input>
  </form>
  People: <span id="people"></span>
  <script src="interface.js"></script>
</body>
</html>
